[Unit]
Description=Begin Capture NDN Traffic and Transfer Output Files
After=docker.service network-online.target

[Service]
ExecStart=/usr/local/bin/ndntdump-capture-start.sh

[Install]
WantedBy=multi-user.target