[Unit]
Description=Capture NDN Traffic and Transfer Output Files
After=docker.service network-online.target

[Service]
Type=oneshot
Environment="OUTPUT_DIR=${PWD}/dump"
ExecStart=/usr/local/bin/start_capture.sh -- -i $1
ExecStop=/usr/local/bin/stop_capture.sh
ExecStopPost=/usr/bin/scp -oProxyCommand="ssh -W %h:%p ndntraces@orion.ngin.tntech.edu" ${OUTPUT_DIR}/output-*.zst ndntraces@10.20.10.2430:tracedata/
ExecStopPost=/bin/rm -rf ${OUTPUT_DIR}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target