[Unit]
Description=Begin Capture NDN Traffic and Transfer Output Files
After=docker.service network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/start_capture.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target