[Unit]
Description=Stop Capturing NDN Traffic 
Requires=ndntdump-scp.service
Before=ndntdump-scp.service

[Service]
ExecStart=/usr/local/bin/ndntdump-capture-stop.sh

[Install]
WantedBy=multi-user.target