[Unit]
Description=Trigger ndn6dump container stop and file transfer
Requires=ndntdump-capture.service

[Timer]
OnUnitActiveSec=2h
Unit=ndntdump-capture.service
RemainAfterExit=yes

[Install]
WantedBy=timers.target