[Unit]
Description=Trigger ndntdump container stop and begin file transfer
After=docker.service network-online.target

[Timer]
OnActiveSec=2h
Unit=ndntdump-capture-stop.service ndntdump-scp.service

[Install]
WantedBy=timers.target
