[Unit]
Description=Trigger ndntdump Container Stop
After=ndntdump-capture-start.timer

[Timer]
OnActiveSec=2h
Unit=ndntdump-capture-stop.service

[Install]
WantedBy=timers.target